/* @font-face {
    font-family: "MyFont";
    src: url(./SellenaBrush-x3JyK.ttf)
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
}

.name {
  padding: 6rem;
  padding-top: 5rem;
  padding-bottom: 0;
  margin: 5rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2rem;
}

html {
  scroll-behavior: smooth;
}

.section1 {

  color: black;
  min-height: 100vh;
  min-width: 100vh;
  padding: 3rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.card {
  height: 38rem;
  width: 28rem;
  margin: 2rem;

  position: relative;

  perspective: 90rem;
}


.cb,
.cf {
  border: 1px solid #4CAF50;
  height: 30rem;
  width: 28rem;
  border-radius: 20px;

  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(255, 255, 0, 0.612);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: 'MyFont';
  font-size: 1.25rem;
  font-weight: 900;
  padding: 2rem;

  transition: all 0.99s ease;

}

.cf {
  background: rgba(0, 0, 0, 0.144);
  /* background-image: linear-gradient(to right, rgba(255, 255, 0, 0.126), #4caf4f20); */
  backdrop-filter: blur(100px);
  box-shadow: 0 8px 32px rgba(255, 255, 0, 0.447);

  color: #4CAF50;


}

p {
  font-size: 1.5rem;
}

.cb {
  background-color: black;
  transform: rotateY(180deg);
  color: yellow;

}

.card:hover .cf {
  transform: rotateY(180deg);
  color: yellow;

}

.card:hover .cb {
  transform: rotateY(0deg);

}

.name:hover {
  background: rgba(254, 254, 254, 0.222);
  backdrop-filter: blur(1000px) !important;
  border-radius: 10%;
  box-shadow: 0 3px 2px -2px #4CAF50 !important;
}

@media (max-width: 1200px) {

  .card,
  .cf,
  .cb {
    height: 30rem;
    width: 28rem;
  }

  .section1 {
    padding: 2rem;
    gap: 2rem;
    min-width: 100vh;
  }

  p {
    font-size: 1rem;
  }
}



@media (max-width: 768px) {

  .card,
  .cf,
  .cb {
    height: 35rem;
    width: 20rem;
    font-size: 0.5rem;
  }

  .section1 {
    padding: 0.25rem;
    gap: 2rem;
    min-width: 100vh;
  }

  p {
    font-size: 1rem;
  }

  .name {
    font-size: 1.55rem;

  }

  .name:hover {
    background: rgba(254, 254, 254, 0.222);
    backdrop-filter: blur(1000px) !important;
    border-radius: 10%;
    box-shadow: 0 3px 2px -2px #4CAF50 !important;
  }
}

@media (max-width: 368px) {

  .card,
  .cf,
  .cb {
    height: 35rem;
    width: 20rem;
    font-size: 0.5rem;
  }

  .section1 {
    padding: 0.15rem;
    gap: 1rem;
    min-width: 100vh;
  }

  .name {
    font-size: 0.75rem;

  }
}