/* Slide in from the left */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  25% {
    transform: translateX(0);
    color: yellow;
  }

  50% {
    transform: translateX(0);

    color: #4CAF50;
  }

  75% {
    transform: translateX(0);
    color: yellow;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Hidden state before animation */
.hidden {
  opacity: 0;
}

/* Slide-in class for triggering the animation */
.slide-in-right {
  animation: slideInRight 1s ease-out forwards;
  /* Adjust duration and timing */
}