header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;

  background-color: rgba(0, 0, 0, 0.692);
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  justify-content: space-between;


  z-index: 1000;
}

.link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-decoration: none !important;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none !important;
  gap: 2rem;
  padding-right: 1rem;
  font-size: 1rem;

}

.link:focus,
.link:hover {
  color: #4CAF50 !important;
  border: none;
  box-shadow: 0 8px 10px -2px #4caf4fae;
}

.img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  padding-right: 3rem;
}

@media (max-width: 1200px) {
  .link {
    font-size: 0.75rem;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .link {
    font-size: 0.75rem;
  }
}

/* .mainHeader {

  
    display: flex;
    justify-content: space-between;
} */